/* Aside */
.logo {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logo:hover img {
    scale: 1.2;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    transition: 1s scale;
}

.menu {
    padding: 2rem 0rem;
    font-size: 1.3rem;
}

.menu__item {}


.menu__item a:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
    cursor: pointer;
    border-left: 5px solid var(--text-hover);
}

.menu__item a {
    display: block;
    padding: 2rem 5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 550;
    border-left: 5px solid rgba(0, 0, 0, 0);
    transition: 0.3s all;
}

.menu__item a span {
    padding-left: 1rem;
}

/* Sub-menu */
.sub-menu {
    display: flex;
    justify-content: space-between;
}

.sub-menu__noti {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    flex: 1;
}

.infoUser {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
}

.infoUser__item {
    position: relative;
}

.infoUser__item:hover>a {
    color: var(--text-hover);
    cursor: pointer;
}


.infoUser__item a {
    display: inline-block;
    color: var(--text-color);
    margin: 0rem 1rem;
    font-size: 1.6rem;
    transition: 0.2s color;
    padding: 0rem 0.5rem;
}

.infoUser__item-user a {
    display: flex;
    align-items: center;
}

.infoUser__item-user-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    overflow: hidden;
}

.infoUser__item-user-logo img {
    width: 100%;
    height: 100%;
}

.infoUser__item-user-details {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    text-align: right;
}

.infoUser__item-user-details-name {
    color: var(--text-hover);
    font-size: 1.2rem;
}

.infoUser__item-user-details-point {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.infoUser__item-hasMenu:hover .infoUser__item-menu,
.infoUser__item-hasMenu:hover .infoUser__item-noti,
.infoUser__item-hasMenu:hover .infoUser__item-bell {
    display: block;
}

.infoUser__item-menu::before {
    content: "";
    position: absolute;
    top: -10%;
    right: 10%;
    border: 10px solid transparent;
    border-bottom-color: var(--bg-submenu);
    z-index: 1;
}

.infoUser__item-menu::after {
    /* Tạo 1 bức tường ảo */
    content: "";
    position: absolute;
    top: -11%;
    right: 0%;
    padding: 1.2rem;
    width: 15%;
    /* background-color: red; */
    z-index: 0;
}

.infoUser__item-menu {
    display: none;
    position: absolute;
    top: 200%;
    right: 0%;
    background-color: var(--bg-submenu);
    border-radius: var(--br-radius);
    padding: 1rem 0rem;
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.infoUser__item-menu-item:hover {
    background-color: var(--bg-color);
    cursor: pointer;
}

.infoUser__item-menu-item {
    display: flex !important;
    min-width: 15rem;
    padding: 0.5rem !important;
    font-size: 1.2rem !important;
    justify-content: space-between;
    align-items: center;
}

.infoUser__item-menu-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.infoUser__item-noti {
    display: none;
    position: absolute;
    top: 300%;
    left: 0%;
    background-color: var(--bg-submenu);
    border-radius: var(--br-radius);
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.infoUser__item-noti::before {
    content: "";
    position: absolute;
    top: -11%;
    left: 1%;
    border: 20px solid transparent;
    border-bottom-color: var(--bg-submenu);
    z-index: -1;
}

.infoUser__item-noti::after {
    /* Tạo 1 bức tường ảo */
    content: "";
    position: absolute;
    top: -12%;
    left: 0%;
    padding: 2rem 0.5rem;
    width: 15%;
    z-index: 1;
}

.infoUser__item-noti-item {
    display: block;
    margin: 0 !important;
    padding: 2rem !important;
    min-width: 30rem;
    font-size: 1.2rem !important;
    justify-content: space-between;
    border-radius: var(--br-radius);
    align-items: center;
}

.infoUser__item-noti-item:hover {
    color: var(--isDanger);
    cursor: pointer;
}

.infoUser__item-noti-item-content {
    display: flex;
    align-items: center;
}

.infoUser__item-noti-item-content-date {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: right;
}

.infoUser__item-noti-item-isNotRead {
    background-color: var(--bg-color);
}



.infoUser__item-bell {
    display: none;
    position: absolute;
    top: 300%;
    left: -100%;
    background-color: var(--bg-submenu);
    border-radius: var(--br-radius);
    /* overflow: hidden; */
    z-index: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.infoUser__item-bell::before {
    content: "";
    position: absolute;
    top: -11%;
    left: 15%;
    border: 20px solid transparent;
    border-bottom-color: var(--bg-submenu);
    z-index: -1;
}

.infoUser__item-bell::after {
    /* Tạo 1 bức tường ảo */
    content: "";
    position: absolute;
    top: -11%;
    left: 14%;
    padding: 2rem 0.5rem;
    width: 15%;
    z-index: 1;
}

.infoUser__item-bell-item {
    display: block;
    margin: 0 !important;
    padding: 2rem !important;
    min-width: 30rem;
    font-size: 1.2rem !important;
    justify-content: space-between;
    border-radius: var(--br-radius);
    align-items: center;
}

.infoUser__item-bell-item:hover {
    color: var(--isDanger);
    cursor: pointer;
}

.infoUser__item-bell-item-content {
    display: flex;
    align-items: center;
}

.infoUser__item-bell-item-content-date {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-align: right;
}

.infoUser__item-bell-item-isNotRead {
    background-color: var(--bg-color);
}